USE [master]
GO
/****** Object:  Database [Instituto]    Script Date: 12/10/2023 15:32:25 ******/
CREATE DATABASE [Instituto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Instituto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Instituto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Instituto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Instituto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Instituto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Instituto]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[IdBitacora] [bigint] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime] NULL,
	[Mensaje] [varchar](5000) NULL,
	[Origen] [varchar](5000) NULL,
	[IdUsuario] [bigint] NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[IdCurso] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[IdEstatus] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
 CONSTRAINT [PK_Estatus] PRIMARY KEY CLUSTERED 
(
	[IdEstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupo]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[IdGrupo] [bigint] IDENTITY(1,1) NOT NULL,
	[IdEstatus] [bigint] NULL,
 CONSTRAINT [PK_Grupo] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horario]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario](
	[IdHorario] [bigint] IDENTITY(1,1) NOT NULL,
	[Dia] [varchar](50) NULL,
 CONSTRAINT [PK_Horario] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[IdMatricula] [bigint] IDENTITY(1,1) NOT NULL,
	[IdCliente] [bigint] NULL,
	[IdCurso] [bigint] NULL,
	[IdModalidad] [bigint] NULL,
	[IdNivel] [bigint] NULL,
	[IdHorario] [bigint] NULL,
	[Monto] [decimal](10, 2) NULL,
	[FechaMatricula] [datetime] NULL,
	[DiaPago] [int] NULL,
	[Comentario] [varchar](500) NULL,
	[IdEstatus] [bigint] NULL,
 CONSTRAINT [PK_Matricula] PRIMARY KEY CLUSTERED 
(
	[IdMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidad]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidad](
	[IdModalidad] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Modalidad] PRIMARY KEY CLUSTERED 
(
	[IdModalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NivelCurso]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelCurso](
	[IdNivelCurso] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_NivelCurso] PRIMARY KEY CLUSTERED 
(
	[IdNivelCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreMatricula]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreMatricula](
	[IdPrematricula] [bigint] IDENTITY(1,1) NOT NULL,
	[CorreoElectronico] [varchar](100) NULL,
	[Telefono] [varchar](15) NULL,
	[Nombre] [varchar](15) NULL,
	[Apellido1] [varchar](15) NULL,
	[Apellido2] [varchar](15) NULL,
	[IdCurso] [bigint] NULL,
	[IdModalidad] [bigint] NULL,
	[IdNivel] [bigint] NULL,
	[IdEstatus] [bigint] NULL,
	[FechaPrematricula] [datetime] NULL,
 CONSTRAINT [PK_PreMatricula] PRIMARY KEY CLUSTERED 
(
	[IdPrematricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NULL,
	[IdUsuarioModificacion] [bigint] NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/10/2023 15:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdCliente] [bigint] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](50) NULL,
	[Nombre] [varchar](15) NULL,
	[Apellido1] [varchar](15) NULL,
	[Apellido2] [varchar](15) NULL,
	[FechaNacimiento] [datetime] NULL,
	[Telefono] [varchar](15) NULL,
	[Direccion] [varchar](100) NULL,
	[IdEstatus] [bigint] NULL,
	[IdRol] [bigint] NULL,
	[Usuario] [varchar](20) NULL,
	[PwUsuario] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaUltimaActividad] [datetime] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([IdCurso], [Nombre]) VALUES (1, N'Ingles')
INSERT [dbo].[Curso] ([IdCurso], [Nombre]) VALUES (2, N'Portuguese')
INSERT [dbo].[Curso] ([IdCurso], [Nombre]) VALUES (3, N'Lesco')
SET IDENTITY_INSERT [dbo].[Curso] OFF
GO
SET IDENTITY_INSERT [dbo].[Estatus] ON 

INSERT [dbo].[Estatus] ([IdEstatus], [Nombre]) VALUES (1, N'Activo')
INSERT [dbo].[Estatus] ([IdEstatus], [Nombre]) VALUES (2, N'Inactivo')
INSERT [dbo].[Estatus] ([IdEstatus], [Nombre]) VALUES (3, N'Aprobado')
SET IDENTITY_INSERT [dbo].[Estatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([IdGrupo], [IdEstatus]) VALUES (1, 1)
INSERT [dbo].[Grupo] ([IdGrupo], [IdEstatus]) VALUES (2, 1)
INSERT [dbo].[Grupo] ([IdGrupo], [IdEstatus]) VALUES (3, 1)
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[Horario] ON 

INSERT [dbo].[Horario] ([IdHorario], [Dia]) VALUES (1, N'L - M 8AM/10:30AM')
INSERT [dbo].[Horario] ([IdHorario], [Dia]) VALUES (2, N'K - J 8AM/10:30AM')
INSERT [dbo].[Horario] ([IdHorario], [Dia]) VALUES (3, N'K - J 6PM/8:30PM')
SET IDENTITY_INSERT [dbo].[Horario] OFF
GO
SET IDENTITY_INSERT [dbo].[Matricula] ON 

INSERT [dbo].[Matricula] ([IdMatricula], [IdCliente], [IdCurso], [IdModalidad], [IdNivel], [IdHorario], [Monto], [FechaMatricula], [DiaPago], [Comentario], [IdEstatus]) VALUES (10014, 116810507, 1, 2, 1, 1, CAST(500.00 AS Decimal(10, 2)), CAST(N'2023-09-27T00:00:00.000' AS DateTime), 1, N'Pagado', 1)
INSERT [dbo].[Matricula] ([IdMatricula], [IdCliente], [IdCurso], [IdModalidad], [IdNivel], [IdHorario], [Monto], [FechaMatricula], [DiaPago], [Comentario], [IdEstatus]) VALUES (10015, 114410916, 2, 2, 2, 2, CAST(400.00 AS Decimal(10, 2)), CAST(N'2023-09-27T00:00:00.000' AS DateTime), 5, N'Hola Holaa', 1)
INSERT [dbo].[Matricula] ([IdMatricula], [IdCliente], [IdCurso], [IdModalidad], [IdNivel], [IdHorario], [Monto], [FechaMatricula], [DiaPago], [Comentario], [IdEstatus]) VALUES (10016, 117020275, 1, 1, 1, 3, CAST(7800.00 AS Decimal(10, 2)), CAST(N'2023-09-27T00:00:00.000' AS DateTime), 10, N'pago', 1)
SET IDENTITY_INSERT [dbo].[Matricula] OFF
GO
SET IDENTITY_INSERT [dbo].[Modalidad] ON 

INSERT [dbo].[Modalidad] ([IdModalidad], [Nombre]) VALUES (1, N'Virtual')
INSERT [dbo].[Modalidad] ([IdModalidad], [Nombre]) VALUES (2, N'Prescencial')
SET IDENTITY_INSERT [dbo].[Modalidad] OFF
GO
SET IDENTITY_INSERT [dbo].[NivelCurso] ON 

INSERT [dbo].[NivelCurso] ([IdNivelCurso], [Nombre]) VALUES (1, N'Intensivo')
INSERT [dbo].[NivelCurso] ([IdNivelCurso], [Nombre]) VALUES (2, N'Semi-Intensivo')
SET IDENTITY_INSERT [dbo].[NivelCurso] OFF
GO
SET IDENTITY_INSERT [dbo].[PreMatricula] ON 

INSERT [dbo].[PreMatricula] ([IdPrematricula], [CorreoElectronico], [Telefono], [Nombre], [Apellido1], [Apellido2], [IdCurso], [IdModalidad], [IdNivel], [IdEstatus], [FechaPrematricula]) VALUES (1, N'prueba@prueba.com', N'60504875', N'Daniel', N'Moreira', N'Rodriguez', 1, 1, 2, 2, CAST(N'2023-08-07T02:33:51.970' AS DateTime))
INSERT [dbo].[PreMatricula] ([IdPrematricula], [CorreoElectronico], [Telefono], [Nombre], [Apellido1], [Apellido2], [IdCurso], [IdModalidad], [IdNivel], [IdEstatus], [FechaPrematricula]) VALUES (2, N'estebanmoreirar@gmail.com', N'45678912', N'Esteban', N'Moreira', N'Rodriguez', 2, 2, 1, 2, CAST(N'2023-08-07T03:00:26.243' AS DateTime))
INSERT [dbo].[PreMatricula] ([IdPrematricula], [CorreoElectronico], [Telefono], [Nombre], [Apellido1], [Apellido2], [IdCurso], [IdModalidad], [IdNivel], [IdEstatus], [FechaPrematricula]) VALUES (4, N'prueba@prueba.com', N'60504875', N'Kimberly', N'Moreira', N'Rodriguez', 1, 2, 1, 2, CAST(N'2023-08-08T17:43:01.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[PreMatricula] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([IdRol], [Nombre], [IdUsuarioModificacion], [FechaCreacion], [FechaModificacion]) VALUES (1, N'Administrador', 1, CAST(N'2023-07-20T23:23:52.957' AS DateTime), CAST(N'2023-07-20T23:23:52.957' AS DateTime))
INSERT [dbo].[Rol] ([IdRol], [Nombre], [IdUsuarioModificacion], [FechaCreacion], [FechaModificacion]) VALUES (2, N'Usuario', 1, CAST(N'2023-07-21T17:42:26.377' AS DateTime), CAST(N'2023-07-22T20:57:55.303' AS DateTime))
INSERT [dbo].[Rol] ([IdRol], [Nombre], [IdUsuarioModificacion], [FechaCreacion], [FechaModificacion]) VALUES (3, N'Cliente', 1, CAST(N'2023-07-22T21:29:04.390' AS DateTime), CAST(N'2023-07-22T21:29:04.390' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdCliente], [Correo], [Nombre], [Apellido1], [Apellido2], [FechaNacimiento], [Telefono], [Direccion], [IdEstatus], [IdRol], [Usuario], [PwUsuario], [FechaCreacion], [FechaUltimaActividad]) VALUES (41, N'estebanmoreirar@gmail.com', N'ESTEBAN', N'MOREIRA', N'RODRIGUEZ', CAST(N'1997-06-26T20:33:00.000' AS DateTime), N'60506812', N'Heredia', 1, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdCliente], [Correo], [Nombre], [Apellido1], [Apellido2], [FechaNacimiento], [Telefono], [Direccion], [IdEstatus], [IdRol], [Usuario], [PwUsuario], [FechaCreacion], [FechaUltimaActividad]) VALUES (42, N'bsanabria10916@ufide.ac.cr', N'BRYAN', N'SANABRIA', N'JIMENEZ', CAST(N'2023-09-12T20:35:00.000' AS DateTime), N'12345678', N'asdad', 1, 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([IdCliente], [Correo], [Nombre], [Apellido1], [Apellido2], [FechaNacimiento], [Telefono], [Direccion], [IdEstatus], [IdRol], [Usuario], [PwUsuario], [FechaCreacion], [FechaUltimaActividad]) VALUES (43, N'abriceno10160@ufide.ac.cr', N'ALEXIA', N'BRICENO', N'BARRANTES', CAST(N'2023-09-04T20:36:00.000' AS DateTime), N'12345678', N'asdf', 1, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Curso]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Estatus] FOREIGN KEY([IdEstatus])
REFERENCES [dbo].[Estatus] ([IdEstatus])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Estatus]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Horario] FOREIGN KEY([IdHorario])
REFERENCES [dbo].[Horario] ([IdHorario])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Horario]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Modalidad] FOREIGN KEY([IdModalidad])
REFERENCES [dbo].[Modalidad] ([IdModalidad])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Modalidad]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_NivelCurso] FOREIGN KEY([IdNivel])
REFERENCES [dbo].[NivelCurso] ([IdNivelCurso])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_NivelCurso]
GO
ALTER TABLE [dbo].[PreMatricula]  WITH CHECK ADD  CONSTRAINT [FK_PreMatricula_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[PreMatricula] CHECK CONSTRAINT [FK_PreMatricula_Curso]
GO
ALTER TABLE [dbo].[PreMatricula]  WITH CHECK ADD  CONSTRAINT [FK_PreMatricula_Estatus] FOREIGN KEY([IdEstatus])
REFERENCES [dbo].[Estatus] ([IdEstatus])
GO
ALTER TABLE [dbo].[PreMatricula] CHECK CONSTRAINT [FK_PreMatricula_Estatus]
GO
ALTER TABLE [dbo].[PreMatricula]  WITH CHECK ADD  CONSTRAINT [FK_PreMatricula_Modalidad] FOREIGN KEY([IdModalidad])
REFERENCES [dbo].[Modalidad] ([IdModalidad])
GO
ALTER TABLE [dbo].[PreMatricula] CHECK CONSTRAINT [FK_PreMatricula_Modalidad]
GO
ALTER TABLE [dbo].[PreMatricula]  WITH CHECK ADD  CONSTRAINT [FK_PreMatricula_NivelCurso] FOREIGN KEY([IdNivel])
REFERENCES [dbo].[NivelCurso] ([IdNivelCurso])
GO
ALTER TABLE [dbo].[PreMatricula] CHECK CONSTRAINT [FK_PreMatricula_NivelCurso]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estatus1] FOREIGN KEY([IdEstatus])
REFERENCES [dbo].[Estatus] ([IdEstatus])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Estatus1]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol1] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol1]
GO
USE [master]
GO
